[project]
name = "advent-of-code"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "drawnow>=0.72.5",
    "matplotlib>=3.10.7",
    "numpy>=2.3.5",
    "pandas>=2.3.3",
]
